@page
@model CORE1.Pages.Account.RegistroModel
@if (ViewData["error2"] != null && ViewData["error2"].ToString() != "")
{
	<div class="alert alert-danger" role="alert">
		Error: @ViewData["error2"].ToString()
	</div>
}
<form method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group row">
	
		<label asp-for="Usuario.nombre" class="control-label"></label>
		<input asp-for="Usuario.nombre" class="form-control" />
	</div>
	<div-- class="form-group row">

		<label asp-for="Usuario.apellidos" class="control-label"></label>
		<input asp-for="Usuario.apellidos" class="form-control" />
	<div class="form-group row">
		
		<label asp-for="Usuario.email" class="control-label"></label>
		<input asp-for="Usuario.email" class="form-control" />
	</div>
	<div class="form-group row">
		
			<label asp-for="Usuario.password" class="control-label"></label>
			<input asp-for="Usuario.password" class="form-control" />
	</div>
		<input type="hidden" asp-for="Usuario.rol" value="CLIENTE" />
		<input type="hidden" asp-for="Usuario.activo" value="S" />
	
	<div class=form-group row">
		<div class="offset-md-3">
			<input type="submit" value="Registrar" class="btn btn-primary" />

		</div>
	</div>
</form>