@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<div class="float-end">
@if(User.Identity.IsAuthenticated)
{
		<a class="btn btn-sm btn-info" asp-area="" asp-page="UsuarioModificar" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetInt32("idUsuario")">Modificar</a>
	<text>
		Hola, @User.Identity.Name!
		<form asp-area="" asp-page="/Account/Logout" method="post" class="d-inline">
			<span>Hola, @HttpContextAccessor.HttpContext.Session.GetString("nombreUsuario")</span>
			<input type="submit" class="btn btn-sm btn-warning" value="salir"/>
		</form>
	</text>
}
else
{
	<a class="btn btn-sm btn-info" asp-area="" asp-page="/Account/Login">Iniciar sesión</a>
	<a class= "btn btn-sm btn-info" asp-area = "" asp-page = "/Account/Registro" > Registro </a>
}

</div>