.bs-tooltip {
    position: relative;
    display: inline-block;
}

    .bs-tooltip .bs-tooltip-text {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;
        position: absolute;
        z-index: 1000;
        /* Estilo tipo Bootstrap */
        background: #000;
        color: #fff;
        padding: .25rem .5rem;
        border-radius: .25rem;
        font-size: .875rem;
        /* Posición arriba */
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .bs-tooltip:hover .bs-tooltip-text {
        visibility: visible;
        opacity: 1;
    }

    /* Flecha estilo Bootstrap */
    .bs-tooltip .bs-tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
    }
    .bs-tooltip-bottom .bs-tooltip-text {
        top: 125%;
        bottom: auto;
    }

    .bs-tooltip-bottom .bs-tooltip-text::after {
        top: auto;
        bottom: 100%;
        border-color: transparent transparent #000 transparent;
    }
